.one{
    border: 2px solid red;
    width: 250px;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.two{
    border: 2px solid green;
    width: 250px;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.three{
    border: 2px solid purple;
    width: 250px;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.total{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(3, max-content); */
    /* grid-template-columns: repeat(3, auto); */
    /* grid-template-columns: repeat(3,250px); */
    /* grid-template-columns: repeat(3, min-content); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border: 2px solid green;
    padding: 4px;
    justify-items: center;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    /* overflow: auto;  */
}